# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.

#
# Coresight Wire Protocol Driver for OpenOCD
#

# Add CSWP to the list of valid transports
adapter transports cswp

## Register the CSWP command
# This is automatic if only one transport is selected
#transport select cswp

# Default
set ds_script_path [info script]
set ds_script_dir [file dirname $ds_script_path]
cswp client_lib "$ds_script_dir/../../contrib/nvidia/libcdebug_client.so"

# Uncomment to enable verbose logging
#debug_level 4

# In your target file add to instantiate a CSWP transport
#cswp new <name> { -usb <usbid> | -tcp <tcpid> }
# with:
# <usbid> = <vid>:<pid>[:[<serial>][:<speedid>][:<interface>]] where...
#	<vid>: USB device vendor ID.
#	<pid>: USB device product ID.
#	<serial>: USB device serial (optional).
#	<speedid>: USB device bcdDevice ID which on some CSWP allow to pick USB2 (1) or USB3 (2) interface (optional).
#	<interface>: on some composite USB device allow you to pick the interface to attach to (not recommended).
# <tcpid> = <ip>[:<port>] where ...
#	<ip> is a host name or IP address.
#	<port> is an optional TCP port.
