# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.

# OpenOCD Target Configuration for nVidia THOR

# This file consumes the following configuration variables:
# BOARD_NAME: this variable must be set to the board name.
#
# The user can also set the following settings to affect how OpenOCD is configured:
# we use a separate JTAG/CSWP connection. Default is 1.
# SYSNAME: override the prefix used when naming targets created by this file.
# Default is "thor".
# GDB_FIRST_PORT
# GDB ports:
# $GDB_FIRST_PORT: main GDB access port for ccplex cores
# $GDB_FIRST_PORT+2+$chiplet_id: AXI $chiplet_id access port
# JTAG_ADAPTER_SERIAL: serial ID of the JTAG adapter. This is optional.

set THORTAPID 0x6ba00477

if { ! [info exists BOARD_NAME] } {
	error "BOARD_NAME si not set, it must be set before calling thor.cfg"
}

if { ! [info exists SYSNAME] } {
	set SYSNAME thor
}

if { ! [info exists GDB_FIRST_PORT] } {
	set GDB_FIRST_PORT 10000
}

set CCPLEX_CORES_LIST {}

################
# FUNCTIONS: these should be called by the board file at the appropriate
# moment.
################

# Instantiate all the Coresight facilities in the target for a specific chiplet
proc thor_instantiate { chiplet_id } {
	global SYSNAME
	global BOARD_NAME
	global GDB_FIRST_PORT
	global CCPLEX_CORES_LIST

	set _TARGETNAME $SYSNAME.$chiplet_id

	#
	# Configure JTAG TAPs - TAP chain declaration order is important
	#

	# Tested up to 15MHz
	set JTAG_SPEED_STR [adapter speed]
	regsub {^adapter speed: ([0-9]+) kHz.*} "$JTAG_SPEED_STR" {\1} JTAG_SPEED
	if { $JTAG_SPEED <= 500 } {
		set MEMACCESS 1
	} elseif { $JTAG_SPEED <= 5000 } {
		set MEMACCESS 50
	} else {
		set MEMACCESS 100
	}
	echo "JTAG speed used to configure memaccess is ${JTAG_SPEED}kHz => memaccess=${MEMACCESS}TCK"
	# Make sure the JTAG config is sane
	if { [lsearch -exact "[dap names]" $BOARD_NAME.$chiplet_id.dap] < 0 } {
		error "No dap named $BOARD_NAME.$chiplet_id.dap found, check JTAG board configuration. DAPs found: [dap names]"
	}

	# Create the DAP APB-AP MEM-AP target for the ARMV8 cores
	target create $_TARGETNAME.apb mem_ap -dap $BOARD_NAME.$chiplet_id.dap -ap-num 0 -memaccess $MEMACCESS

	# Create the DAP AXI-AP MEM-AP target for the ARMV8 cores
	# We use the same memaccess setting as APB because of the AXI2APB bridge which has the same speed restrictions
	target create $_TARGETNAME.axi mem_ap -dap $BOARD_NAME.$chiplet_id.dap -ap-num 1 -gdb-port [expr {$GDB_FIRST_PORT+2+$chiplet_id}] -memaccess $MEMACCESS

	# Set CSW register value default correctly for AXI accessible device memory:
	# Select the correct Access Port Number
	$BOARD_NAME.$chiplet_id.dap apsel 1
	# Set the CSW to OpenOCD's internal default
	$BOARD_NAME.$chiplet_id.dap apcsw default

	# Use the APB we just created
	set _APBBUSTGT $_TARGETNAME.apb

	#
	# Configure target CPUs
	#

	set _CURRENT_CORE [expr {$chiplet_id*14}]

	for {set coreid 0} {$coreid < 14} {incr coreid} {
		# Format a string to reference which CPU target to use
		set _CORENAME $SYSNAME.core$_CURRENT_CORE
		set _CTINAME $SYSNAME.cti$_CURRENT_CORE

		set _core_offset [expr {0x85100000 + (0x200000 * $coreid)}]
		set _dbg_addr [expr {0x90000 + $_core_offset}]
		set _cti_addr [expr {0xf0000 + $_core_offset}]

		# Create and configure Cross Trigger Interface (CTI) - required for halt and resume
		cti create ${_CTINAME} -mem-ap $_APBBUSTGT -baseaddr $_cti_addr

		# Create the target
		target create ${_CORENAME} aarch64 \
			-mem-ap $_APBBUSTGT -dbgbase $_dbg_addr \
			-cti ${_CTINAME} -coreid $_CURRENT_CORE -rtos hwthread \
			-auto-detect

		# Set PR bit in cluster and core ROM tables
		${_CORENAME} configure -event examine-start [subst {
			$_APBBUSTGT mww [expr {0x85100000 + (0x200000 * $coreid) + 0xa00}] 3
			$_APBBUSTGT mww [expr {0x85110000 + (0x200000 * $coreid) + 0xa00}] 3
			after 100
		}]

		# Clear CTI output/input enables that are not configured by OpenOCD for aarch64
		${_CORENAME} configure -event reset-init [subst {
			${_CTINAME} write INEN0 0x00000000
			${_CTINAME} write INEN1 0x00000000
			${_CTINAME} write INEN2 0x00000000
			${_CTINAME} write INEN3 0x00000000
			${_CTINAME} write INEN4 0x00000000
			${_CTINAME} write INEN5 0x00000000
			${_CTINAME} write INEN6 0x00000000
			${_CTINAME} write INEN7 0x00000000
			${_CTINAME} write INEN8 0x00000000

			${_CTINAME} write OUTEN0 0x00000000
			${_CTINAME} write OUTEN1 0x00000000
			${_CTINAME} write OUTEN2 0x00000000
			${_CTINAME} write OUTEN3 0x00000000
			${_CTINAME} write OUTEN4 0x00000000
			${_CTINAME} write OUTEN5 0x00000000
			${_CTINAME} write OUTEN6 0x00000000
			${_CTINAME} write OUTEN7 0x00000000
			${_CTINAME} write OUTEN8 0x00000000
		}]

		# Build string used to enable SMP mode for the ARMv8 CPU cores
		lappend CCPLEX_CORES_LIST "${_CORENAME}"
		echo "Core $_CURRENT_CORE config created."
		incr _CURRENT_CORE
	}

	echo "THOR socket $chiplet_id configuration done.\n"
}

# Configure OpenOCD to debug a THOR based board
proc thor_board_configure { num_chiplets } {
	global GDB_FIRST_PORT
	global CCPLEX_CORES_LIST

	#
	# Configure Resets
	#
	reset_config none

	#
	# Configure THORs
	#
	for {set chipletid 0} {$chipletid < $num_chiplets} {incr chipletid} {
		thor_instantiate $chipletid
	}

	# Set the gdb port and allow connections
	# from any machine that can reach the platform running OpenOCD
	gdb_port $GDB_FIRST_PORT
	bindto 0.0.0.0

	# Defined in the global scope of this file
	# Configure SMP
	eval "target smp $CCPLEX_CORES_LIST"

}

# This function should be called once all cores have been configured, it
# will run init, check the config looks sane and prepare for attach.
proc thor_board_init {} {
	# Run init
	init

	# Now that we can access the buses, double check config is sane
	check_apb_config

	# Enable SMP for GDB connections
	aarch64 smp on
}

# Called if OpenOCD found an issue with a TAP, tries to give some useful
# feedback to the operator about what might be wrong.
proc check_tap_config { tap } {
	global THORTAPID
	global SYSNAME
	global BOARD_NAME

	regexp "^${BOARD_NAME}\.\[0-9]+\.armjtag\$" $tap _VALID_TAP_NAME
	if { ! [info exists _VALID_TAP_NAME] } {
		echo "OpenOCD TAP $tap is not a THOR dielet skipping."
		continue
	}
	set _TAP_SIG [jtag cget $tap -idcode]
	if { $_TAP_SIG == $THORTAPID } {
		echo "OpenOCD TAP $tap is attached to a THOR $_DIELET_TYPE dielet."
	} else {
		echo "ERROR ================================================="
		echo "ERROR OpenOCD TAP $tap signature is not recognized!"
		if { $_TAP_SIG == 0xFFFFFFFF } {
			echo "ERROR The JTAG chain configuration does not match what"
			echo "ERROR is expected by OpenOCD, check your board"
			echo "ERROR configuration."
		} else {
			echo "ERROR Try reducing clock speed and check that the board"
			echo "ERROR is a $BOARD_NAME board."
		}
		error "ERROR ================================================="
	}
}

# Helper function for check_apb_config called if we suspect a problem. This
# function tries to figure out what is wrong based on what was discovered.
proc analyze_tap_config {} {
	global THORTAPID
	global SYSNAME
	global BOARD_NAME

	set _TAPS_LIST [jtag names]

	# First scan for undiscovered taps
	set _UNEXPECTED_TAPS {}
	set _FOUND_TAPS {}
	set _BAD_TAPS {}
	set _UNKNOWN_TAPS {}
	set _EXPECTED_CHIPLETS 0
	set _FOUND_CHIPLETS 0
	foreach tap $_TAPS_LIST {
		if { [regexp {^.*\.([0-9]+)\.armjtag$} $tap _TAP_TEMP _TAP_CHIPLET] } {
			# Detect how many chiplets we have
			if { $_TAP_CHIPLET >= $_EXPECTED_CHIPLETS } {
				set _EXPECTED_CHIPLETS [expr {$_TAP_CHIPLET+1}]
			}
			if { [jtag cget $tap -idcode] != $THORTAPID } {
				lappend _BAD_TAPS $tap
			} else {
				lappend _FOUND_TAPS $tap
				# Detect how many chiplets we have
				if { $_TAP_CHIPLET >= $_FOUND_CHIPLETS } {
					set _FOUND_CHIPLETS [expr {$_TAP_CHIPLET+1}]
				}
			}
		} else {
			if { [jtag cget $tap -idcode] == $THORTAPID } {
				lappend _UNEXPECTED_TAPS $tap
			} else {
				lappend _UNKNOWN_TAPS $tap
			}
		}
	}
	# Now that we have gathered the data, look at them and try to figure out what
	# went wrong using the common cases.
	echo "Found [llength $_FOUND_TAPS] valid THOR taps, [llength $_UNEXPECTED_TAPS] unexpected taps and [llength $_BAD_TAPS] with a bad IDCODE."
	echo "Found [llength $_UNKNOWN_TAPS] unknown taps."
	echo "Found $_FOUND_CHIPLETS configured chiplets, expected $_EXPECTED_CHIPLETS."
	if { ([llength $_UNEXPECTED_TAPS] == 0) && ([llength $_BAD_TAPS] == 0)
			&& ($_FOUND_CHIPLETS == $_EXPECTED_CHIPLETS) } {
		echo "TAPs configuration looks GOOD"
		return
	}
	echo "ERROR ================================================="
	if { $_FOUND_CHIPLETS != $_EXPECTED_CHIPLETS } {
		echo "ERROR Expected $_EXPECTED_CHIPLETS chiplets, found $_FOUND_CHIPLETS"
	} else {
		echo "ERROR invalid configuration detected."
	}
	echo "ERROR ================================================="
}

# Check each APB connection to make sure we are connected to what we
# think we are in a THOR chiplet.
proc check_apb_config { } {
	global THORTAPID
	global SYSNAME
	global BOARD_NAME

	# Note: we assume here that the TAPs have all been recognized properly
	# thus DAPs are THOR DAPs.

	set apb_targets {}
	set axi_targets {}
	foreach item [targets] {
		if {[lsearch -glob $item *.apb] != -1} {
			lappend apb_targets $item
		} elseif {[lsearch -glob $item *.axi] != -1} {
			lappend axi_targets $item
		}
	}

	foreach apb $apb_targets {
		# Per 6.1.19.11 in DFD IAS APB registers part_number[4:2] in PIDR0
		# and PIDR1 of APBROM can be used to detect which dielet we are
		# attached to.
		# S = 101b, C=000b, M0=001b, M1=010b, M2=011b, M3=100b.
		set _APBROM_PIDR0 [ $apb read_memory 0xfe0 32 1 ]
		set _APBROM_PIDR1 [ $apb read_memory 0xfe4 32 1 ]
		set _PID [expr { (($_APBROM_PIDR1 & 0xf)<<8) | ($_APBROM_PIDR0 & 0xff) }]
		echo "$apb APBROM Part Numer: [format "0x%x" $_PID]"
		if { ($_PID != 0x264) && ($_PID != 0x268) } {
			error "Invalid APBROM Part Number [format "0x%x" $_PID] for APB port $apb."
		}
	}
	# Now check that the AXI buses could be configured properly, otherwise
	# debug is unlikely to work (it might be possible with just chiplet 0 axi
	# in some limited way but the failure won't be obvious).
	foreach axi $axi_targets {
		if { [ $axi was_examined ] == 0 } {
			error "$axi could not be started properly, target cannot be debugged."
		}
	}
	echo "OpenOCD attached to a valid ${BOARD_NAME} board."
}

# Instantiate the JTAG TAP chain for one chiplet
proc jtag_instantiate { chiplet_id } {
	global THORTAPID
	global BOARD_NAME

	jtag newtap $BOARD_NAME.$chiplet_id armjtag -irlen 4 -expected-id $THORTAPID
	jtag configure $BOARD_NAME.$chiplet_id.armjtag -event setup-error [subst {
		check_tap_config $BOARD_NAME.$chiplet_id.armjtag
	}]
	echo "TAP chain configured for Chiplet $chiplet_id."
	dap create $BOARD_NAME.$chiplet_id.dap -chain-position $BOARD_NAME.$chiplet_id.armjtag -adiv5 -ignore-syspwrupack
	echo "Added DAP $BOARD_NAME.$chiplet_id.dap."
}

# Sets up JTAG, should be called from board file if JTAG is the connection
# pipe chosen.
proc jtag_basic_init { board_default_speed } {
	global JTAGFREQ
	global JTAG_ADAPTER_SERIAL

	if { ! [ info exists JTAGFREQ ] } {
		set JTAGFREQ $board_default_speed
	}

	# No SWD support
	transport select jtag
	puts "Using adapter driver [adapter name]"
	if { [adapter name] eq "ftdi" } {
		ftdi tdo_sample_edge falling
	}

	# If applicable select which JTAG dongle to target based on serial:
	if { [info exists JTAG_ADAPTER_SERIAL] } {
		adapter serial "$JTAG_ADAPTER_SERIAL"
	}

	#
	# Configure JTAG speed
	#
	adapter speed $JTAGFREQ
	jtag_ntrst_delay 100
}

################
# UTILITY FUNCTIONS: these are there to customize the nVidia framework
# behavior based on user preferences.
################

# This function is a post-init hook that can be called to change whether
# cores should be halted when GDB attaches
proc nonstop-attach { on } {
	global GDB_FIRST_PORT
	global CCPLEX_CORES_LIST

	if { "$on" eq "on" } {
		foreach core $CCPLEX_CORES_LIST {
			$core configure -event gdb-attach {}
		}
		echo "Target will not stop when GDB attaches"
	} elseif { "$on" eq "off" } {
		foreach core $CCPLEX_CORES_LIST {
			$core configure -event gdb-attach { halt 1000 }
		}
		echo "Target will stop when GDB attaches"
	} else {
		echo "ERROR: invalid argument to nonstop-attach: $on"
	}
}

