# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# OpenOCD Board Configuration for nVidia Grace C1 systems
#

# Argument Description
#
# JTAGFREQ
# Set the JTAG clock frequency
# Syntax: -c "set JTAGFREQ freq_in_khz"
#
# SYSNAME
# Set the system name
# If not specified, defaults to "grace-c1"
# Syntax: -c "set SYSNAME name"
#

# No SWD on Grace
transport select jtag

puts "Using adapter driver [adapter name]"
if { [adapter name] eq "ftdi" } {
	ftdi tdo_sample_edge falling
}

#
# Configure JTAG speed
#

if { [info exists JTAGFREQ] } {
	adapter speed $JTAGFREQ
} else {
	adapter speed 5000
}

#
# Set the system name
#

if { ! [info exists SYSNAME] } {
	set SYSNAME grace-c1
}

#
# Configure Resets
#

jtag_ntrst_delay 100
reset_config none

#
# Configure Targets
#

source [find target/grace.cfg]

# Set the gdb port to 10000 and allow connections
# from any machine that can reach the platform running OpenOCD
gdb_port 10000
bindto 0.0.0.0

# Setup and attach
grace-init
