# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# OpenOCD Board Configuration for nVidia Grace C1 systems
#

# Argument Description
#
# JTAGFREQ
# Set the JTAG clock frequency
# Syntax: -c "set JTAGFREQ freq_in_khz"
#
# SYSNAME
# Set the system name
# If not specified, defaults to "grace-c1"
# Syntax: -c "set SYSNAME name"
#

# No SWD on Grace
transport select jtag

puts "Using adapter driver [adapter name]"
if { [adapter name] eq "ftdi" } {
	ftdi tdo_sample_edge falling
}

#
# Configure JTAG speed
#

if { [info exists JTAGFREQ] } {
	adapter speed $JTAGFREQ
} else {
	adapter speed 10000
}

#
# Set the system name
#

if { ! [info exists SYSNAME] } {
	set SYSNAME grace-cg4
}

#
# Configure Resets
#

jtag_ntrst_delay 100
reset_config none

#
# Configure Targets
#

# grace.cfg can create the taps however the JTAG daisy-chain is inverted
# ie tap 0 is socket3, tap 1 is socket 2, ... Thus we create our own taps:
jtag newtap grace.3 armjtag -irlen 4 -expected-id 0x6ba00477
jtag newtap grace.2 armjtag -irlen 4 -expected-id 0x6ba00477
jtag newtap grace.1 armjtag -irlen 4 -expected-id 0x6ba00477
jtag newtap grace.0 armjtag -irlen 4 -expected-id 0x6ba00477

# Configure socket 0
source [find target/grace.cfg]

# Configure socket 1
source [find target/grace.cfg]

# Configure socket 2
source [find target/grace.cfg]

# Configure socket 3
source [find target/grace.cfg]

# Set the gdb port to 10000 and allow connections
# from any machine that can reach the platform running OpenOCD
gdb_port 10000
bindto 0.0.0.0

# Setup and attach
grace-init
