# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# OpenOCD Board Configuration for nVidia Thor Andor system
#

# OpenOCD Board Configuration for nVidia E-system
set BOARD_NAME e4776

# Argument Description
#
# JTAGFREQ (JTAG connections only)
# Select non-standard clock frequency
# Syntax: -c "set JTAGFREQ freq_in_khz"
#

# Call main Thor configuration file
source [find target/thor.cfg]

jtag_basic_init 5000

#
# Create TAPs
#
jtag_instantiate 0

# Configure OpenOCD for a 1 sockets system
thor_board_configure 2

# Setup and attach
thor_board_init
